body {
  background-color: rgb(170, 243, 233);
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

header {
  background-color: rgb(25, 244, 171);
  height: 100px;
}

h1 {
  float: left;
  margin-left: 20px;
  margin-right: 50px;
  color: black;
  text-shadow: 5px 5px 5px yellow;
}

ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-top: 30px;
  margin-right: 20px;
}

nav li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

nav li a:hover {
  color: white;
  text-decoration: underline;
  font-size: 22px;
}

main {
  width: 90%;
  margin: 30px auto;
  min-height: 700px;
}

#hero-img {
  width: 70%;
  height: 400px;
  border: 3px solid black;
  margin-left: 150px;
  border-radius: 25px;
}

#hero-img:hover {
  border-radius: 50px;
  border: 3px solid white;
}

main p {
  font-size: 20px;
  margin-top: 30px;
}

.lower-sections {
  display: inline-block;
  width: 30%;
  height: 200px;
  margin: 10px;
  text-align: center;
  background-color: rgb(243, 243, 118);
  border: 3px solid black;
}

.lower-sections ul {
  height: 300px;
}

.lower-sections li {
  list-style: none;
}

footer {
  text-align: center;
  background-color: rgb(25, 244, 171);
  height: 50px;
}

/* Added the next CSS rule to handle my images from my JavaScript loop on line 67 of app.js */

.loop-img {
  width: 200px;
}